spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sop_db
    username: sop
    password: sop
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always

  server:
    port: 8080

debug: true